*{
    /* border: 1px solid red; */
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background: rgb(52, 0, 70);
    color:white;
}
h1 {
    text-align: center;
    margin: 20px 0px 0px 0px;
}

/* Navbar flexbox */
nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 10px 20px;
}

nav >.logoLinks > .links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logoLinks {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}
nav > .logoLinks > img {
    width: 60px;
}

.links > a{
    color: rgb(191, 0, 102);
    padding: 5px;
    text-decoration: none;
}

.continue {
    background-color: rgb(191, 0, 102);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    border: none;
    padding: 8px 16px 8px 16px;
}

/* hero flexbox */
.hero {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    gap: 30px;
}

.hero-headers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.coding-image {
    width: 500px;
    border-radius: 20px;
}

.hero-paragraph {
    max-width: 300px;
    text-align: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    gap: 20px;
}

.progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}